# IDE
.idea/

# CMake
cmake-build-debug/
cmake-build-release/

# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test-*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the go coverage tool, specifically when used with ginkgo
*.coverprofile

# Rancher
Dockerfile.Dapper[0-9]*
.cache/

# MAC file
.DS_Store
