image: rancher/wins:{{build.tag}}
manifests:
  -
    image: rancher/wins:{{build.tag}}-windows-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: rancher/wins:{{build.tag}}-windows-20H2
    platform:
      architecture: amd64
      os: windows
      version: 20H2
